@model Bricks.Models.Login;
@{
    ViewData["Title"] = "Change Password";
    Layout="_Layout";
}
<div class="col-xl-4 col-lg-4 container border">
  <form asp-action="ChangePassword" asp-controller="Login" method="post" class="pt-4">
  <h3 class=" mb-2 text-uppercase">Change Password</h3>
  <div>
    <label asp-for="Name" >Username:</label>
    <input asp-for="Name" type="text" class="form-control " value="@ViewBag.Name" autocomplete="off"/>
  </div>
  <div>
    <label asp-for="Password">Password :</label>
    <input asp-for="Password" value="@ViewBag.Password" class="form-control"/>
  </div>
  <button class="mt-2 btn btn-primary" type="submit">ChangePassword</button>
  </form>
</div>

