@model Bricks.Models.Product

<div class="col-xl-4 col-lg-4 container border">

<form method="post" asp-action="EditProduct" asp-controller="Production" class="pt-4">
    <div>
        <label asp-for="ProductName" ></label>
        <input asp-for="ProductName" class="form-control"/>
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control"/>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control"/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-2 d-flex justify-content-end">Submit</button>
    </div>
</form>
</div>